.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.container.testimonials__container{
    width:40%;
    padding-bottom: 4rem;
}

.client__avatar{

    width:4rem;
    aspect-ratio: 1/1;
    overflow:hidden;
    border-radius:50%;
    margin:0 auto 1rem;
    border: 0.4rem solid rgba(77,181,255,0.4);
}
.whoWeAre .testimonial{
    display:grid;

}

.testimonial{
    text-align:left;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    
}

.team .client__name{
    color:white;   
}
.team2{
    display: flex;
    gap:1rem;
}

.client__title{
    color:gray;
    font-weight: 700;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: #4db5ff;
}

.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

/* ================= Media Queries Medium ================= */
@media screen and (max-width:1024px) {
    .container.testimonials__container{
        width:60%;
    }
}

/* ================= Media Queries Small ================= */

@media screen and (max-width:600px) { 
    .container.testimonials__container{
        width:90%;
    }

    .client__review{
        width:90%;
    }
}