
.tree{
    width:100%;
    height:auto;
    text-align:center;
}
.tree ul{
    padding-top:20px;
    position:relative;
}
.container.testimonials__container{
    width:40%;
    padding-bottom: 4rem;
    transition: .5s;
}
.tree li{
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding:30px;
    transition: .5s;
}
.tree .ohad li{
    padding:5px;
    margin-left: -100px;

}

.tree img{
    width:50px;
    height:50px;
    margin-bottom:10px !important;
    border-radius: 100px;
    margin:auto;
}

 
.friend__avatar{
    width:4rem;
    aspect-ratio:1/1;
    overflow: hidden;
    border-radius: 50%;
    margin:0 auto 1rem;
    border:0.4rem solid rgba(77,181,255,0.4);

}

/* .testimonials{
    background:#2c2c6c;
    text-align:center;
    padding:2rem;
    border-radius:2rem;
    user-select: none;
} */

/* .friend__review{
    color:rgba(255,255,255,0.6);
    font-weight: 300;
    display: block;
    width:100%;
    margin: 0.8 rem auto 0;

} */


/* .swiper-pagination-clickable .swiper-pagination-bullet{
    background: #4db5ff;
} */


@media screen and (max-width:1024px) {
    .container.testimonials__container{
        width:60%;
    }
}

/* ================= Media Queries Small ================= */

@media screen and (max-width:600px) { 
    .container.testimonials__container{
        width:90%;
    }

    .friend__review{
        width:90%;
    }
}