.square{
    text-align: center;
    height:100%;
    width: 100%;
    /* background-color: transparent; */
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: grid;
}
.square2{
    text-align: center;
    height: 200px;
    width: 30%;
    background-color: rgb(225, 255, 0);
    align-items: center;
}
.square3{
    text-align: center;
    height: 200px;
    width: 50%;
    background-color: rgb(0, 242, 255);
    align-items: center;
}
.square4{
    text-align: center;
    height: 200px;
    width: 30%;
    background-color: rgb(0, 162, 255);
    align-items: center;
}
.square5{
    height: 200px;
    width: 27.3%;
    background-color: rgb(204, 0, 255);
}
.square6{
    height: 400px;
    width: 22.5%;
    background-color: rgb(0, 255, 17);
}
.square7{
    height: 200px;
    width: 23%;
    background-color: rgb(255, 0, 140);
}
.square8{
    height: 200px;
    width: 27.3%;
    background-color: rgb(238, 255, 0);
}
.square9{
    height: 200px;
    width: 27.3%;
    background-color: rgb(255, 0, 106);
}



